goodenv/

25dim/

glove\.840B\.300d\.txt

glove\.840B\.300d\.zip

glove\.twitter\.27B\.100d\.txt

glove\.twitter\.27B\.200d\.txt

glove\.twitter\.27B\.25d\.txt

glove\.twitter\.27B\.50d\.txt

glove\.twitter\.27B\.zip

SNG_fasttext1540_230518\.pickle\.gz

wiki\.en\.vec

wiki\.en\.zip

*.pickle

demo/

SNG_251001_110618\.zip

*.pyc

\.Rhistory

hma-linux\.zip

hma-linux/hma-openvpn\.sh

hma-linux/hma-vpn\.sh

api_sched\.py

log

pull_out

pull_pickle\.err

pull_pickle\.out



backup_log

backup_log2

DOINEEDTHIS__init__\.py

REALLYWHY__init__\.py

pull

apicache-py3/

facebook_ner\.py

ner\.py

pywiki\.py

src/facebook-sdk/

src/pip-delete-this-directory\.txt

throttle\.ctrl

user-config\.py

goodenv2/

suggestions/logs/
